* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'ft88regular';
    src: url('ft88-regular-webfont.woff2') format('woff2'),
         url('ft88-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url("https://p.typekit.net/p.css?s=1&k=niy8azw&ht=tk&f=12289.12292.34663.34664.34669.34670.34679.34680.34685.34686.34695.34696.34701.34702&a=107212751&app=typekit&e=css");

@font-face {
font-family:"nimbus-roman";
src:url("https://use.typekit.net/af/019711/000000000000000077359eed/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/019711/000000000000000077359eed/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/019711/000000000000000077359eed/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"nimbus-roman";
src:url("https://use.typekit.net/af/a3f0a5/000000000000000077359efa/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/a3f0a5/000000000000000077359efa/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/a3f0a5/000000000000000077359efa/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"halyard-display";
src:url("https://use.typekit.net/af/7ab864/00000000000000007735adb2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/7ab864/00000000000000007735adb2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/7ab864/00000000000000007735adb2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"halyard-display";
src:url("https://use.typekit.net/af/7e8d8a/00000000000000007735adb8/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/7e8d8a/00000000000000007735adb8/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/7e8d8a/00000000000000007735adb8/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"halyard-display";
src:url("https://use.typekit.net/af/e51fb7/00000000000000007735adc9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e51fb7/00000000000000007735adc9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e51fb7/00000000000000007735adc9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"halyard-display";
src:url("https://use.typekit.net/af/8ac9a7/00000000000000007735adcc/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/8ac9a7/00000000000000007735adcc/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/8ac9a7/00000000000000007735adcc/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"halyard-micro";
src:url("https://use.typekit.net/af/06848d/00000000000000007735adc4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/06848d/00000000000000007735adc4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/06848d/00000000000000007735adc4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"halyard-micro";
src:url("https://use.typekit.net/af/311acc/00000000000000007735adc7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/311acc/00000000000000007735adc7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/311acc/00000000000000007735adc7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"halyard-micro";
src:url("https://use.typekit.net/af/bd5799/00000000000000007735add5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/bd5799/00000000000000007735add5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/bd5799/00000000000000007735add5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"halyard-micro";
src:url("https://use.typekit.net/af/2fb559/00000000000000007735add7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2fb559/00000000000000007735add7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2fb559/00000000000000007735add7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"halyard-text";
src:url("https://use.typekit.net/af/a7393c/00000000000000007735adc2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a7393c/00000000000000007735adc2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a7393c/00000000000000007735adc2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"halyard-text";
src:url("https://use.typekit.net/af/aec1c4/00000000000000007735adc5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/aec1c4/00000000000000007735adc5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/aec1c4/00000000000000007735adc5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"halyard-text";
src:url("https://use.typekit.net/af/8c6bd4/00000000000000007735add4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/8c6bd4/00000000000000007735add4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/8c6bd4/00000000000000007735add4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"halyard-text";
src:url("https://use.typekit.net/af/1c6519/00000000000000007735add6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/1c6519/00000000000000007735add6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/1c6519/00000000000000007735add6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

    

.container {
    width:100%;
    margin: 0 auto;
    text-align: center;
  
    
    margin-bottom: 200px;
   
}

.container h1 {
    margin-top:50px;
    font-family:"halyard-display";
    font-weight: normal;
    font-size: 4rem;
}
.container .names {
margin:30px 0px;
font-size: 2rem;
font-style: italic;
}


.orange-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.first-column {
    background-color: #9964AA;
    width: 80%;
    color:white;
  padding: 15px;
  text-align: left;
  font-family:"Arial";
  
   

}


.second-column {
    background-color: #1B1643;
    width:20%;
    color:white;
   padding:14px;
    font-family:'ft88regular';
    text-align: center;
  
   
}


.card {
    margin: 0 auto;
    border:1px solid rgb(202, 202, 202);
    box-shadow: 10px 10px 10px rgb(202, 202, 202);
    width:50%;
    margin-bottom: 200px;
    min-height: 400px;
    text-align: justify;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}

.card img {

    width:100%;
  

  
}

.card div {
    margin:0 auto;
   margin-top:20px;
    width:90%;
    padding:0;
   position:relative;
   left:10px;
   overflow: hidden;
}

/*DOWNLOAD ICON */

.italic {
    font-style: italic;
    color:gray;
}

.text-container {
    margin: 0 auto;
  
    width: 80%;
}

.textp {
    margin: 0 auto;
    text-align: center;
   width:100%;
    font-style: normal; 
    font-size: 2rem;
    font-family:"nimbus-roman";
    
}

.purple {
    color:#9964AA;
}

.download {
   
    
    display:flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    width:30%;
    position:relative;
    bottom:160px;

}
.download img {
  width:25px;
  height: 20px;
  margin-left:10px;
}
.download p {
    font-family:"Arial";
    font-style: normal;
   
    font-size: 1rem;
   
}
.keywords-container {
    border:2px solid purple;
}

.keywords {
   
    width:90%;
    margin:0 auto;
    margin-top:50px;
    
    

}

.keywords h4 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom:50px;
}

.keywords li {
    font-size: 3rem;
    font-weight: bold;
    list-style: none;
}

.times {
    font-size: 2rem;
    font-weight: normal;
    font-style: italic;
}









/* ======= FOOTER BELOW ===== */
footer {
    text-align: left;
    height:200px;
    width:100%;
    background-color: #FF6900;
    display: flex;
    flex: row;
    flex-direction: space-between;
   
    /*position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;*/
}

.footer-logo {
    width: 50%;

  
}

.emails {
    width:50%;
    text-align: right;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right:50px;
    color:black;
  
    text-align: right;
    margin-bottom:27px;
}
footer img {
    margin-top: 20px;
    text-align: left;
    width:300px;
    margin-left: 35px;
    
}

footer h1 {
    margin-top: 40px;
    margin-left: 50px;
    font-family: 'ft88regular';
    font-size: 20px;
   
   
}


@media (max-width:700px){

    .orange-flex{
        display:flex;
        flex-direction: column;
      
    }
    .first-column {
        background-color: #9964AA;
        width: 100%;
        color:white;
      padding: 15px;
      text-align: left;
      font-family:"Arial";
      text-align: center;
      
       
    
    }
    
    
    .second-column {
        background-color: #1B1643;
        width:100%;
        color:white;
       padding:14px;
        font-family:'ft88regular';
        text-align: center;
      
       
    }
    
    footer {
       
       
        /*position: fixed;
        left: 0;
        bottom: 0;*/
        height:300px;
        width:100%;
        background-color: #FF6900;
        display: flex;
        flex-direction:  column;
        justify-content: center;
        align-items: center;
        
    }

    .footer-logo {
display:flex;
flex-direction: column;

justify-content: center;

text-align: center;
align-items: center;
margin-bottom:50px; 

    }

    .footer-logo img {
        margin:0;
    }

    .footer-logo h1{
        text-align: center;
        margin:0;
        margin-top:30px;
    }
  

    .emails {
        display:flex;
        flex-direction: column;
      
       margin: 0 auto;
       text-align: center;
       align-items: center;
    }

    .card {
        margin: 0 auto;
        border:1px solid rgb(202, 202, 202);
        box-shadow: 10px 10px 10px rgb(202, 202, 202);
        width:90%;
        margin-bottom: 200px;
        min-height: 400px;
        text-align: justify;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        
    
    }
    
    .card img {
    
        width:100%;
      
    
      
    }
    
    .card div {
        margin:0 auto;
       margin-top:20px;
        width:90%;
        position:relative;
        left:0px;
        overflow: hidden;
    }
    
    /*DOWNLOAD ICON */
    
    .download {
       
        
        display:flex;
        flex-direction: row;
        margin: 0 auto;
        text-align: center;
        align-content: center;
        justify-content: center;
        align-items: center;
        width:80%;
        position:relative;
        bottom:150px;
    
    }
    .download img {
      width:25px;
      height: 20px;
      margin-left:10px;
    }
    .download p {
        font-family:"Arial";
        font-style: normal;
       
        font-size: 1re

    }
   
    .text-container {
        margin: 0 auto;
       
        width: 90%;
    }
    
    .textp {
        margin: 0 auto;
        text-align: center;
       width:100%;
        font-style: normal; 
        font-size: 2rem;
        font-family:"nimbus-roman";
        
    }
   
   
  

    
}